<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>банк</title>
</head>
<body>
<h1>Банк Ракс</h1>
<h4>Личный кабинет</h4>
<br><br>
<h1>Добрый день</h1>
<h1 th:text="${name}"></h1>

<br><br>
<h1>Ваш балланс: </h1>
<h1 th:text="${amount}"></h1>
<form action="/add_money" method="post">
  <input type="hidden" name="id" value="id">
  <input type="submit" value="Пополнить балланс">
</form>

<br>
<h3>Ваша карта и пароль</h3>
<h3 th:text="${cartNumber}"> - Номер карты</h3>
<h3 th:text="${password}"> - PIN</h3>

<a href="/">Выйти</a>


</body>
</html>